@import '../event/event.component.scss';

.event {
	border: $border-color 1px solid;
	border-radius: 6px;
	margin-bottom: 1em;
	padding: 1em;

	h2 {
		margin: 0;
	}

	.dates {
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
}