@import '../list-style.scss';

$border-color: rgb(196, 192, 211);

.event-details {
	display: grid;
	grid-template-columns: 1fr 3fr;
	border: 1px solid $border-color;
	border-radius: 6px;

	& > * {
		margin: 0;
		padding: 1em;
		border-bottom: 1px solid $border-color;
	}

	& > *:nth-last-child(-n+2) {
		border-bottom: none;
	}

	& > *:nth-child(2n) {
		border-left: 1px solid $border-color;
	}

	p {
		white-space: pre-line;
	}

	.dates, .actions {
		display: flex;
		flex-direction: row;

		div { flex: 1; }

		gap: 1em;
	}
}