<div class="event-details" *ngIf="!!event">
	<label>Title</label>
	<h2>{{ event.title }}</h2>

	<label>Organiser</label>
	<a>{{ event.organizerName }}</a>

	<label>Description</label>
	<p>{{ event.description }}</p>

	<label>Time</label>
	<div class="dates">
		<div>{{ formatDate(event.start) }}</div>
		<div>{{ formatDate(event.end) }}</div>
	</div>

	<ng-container *ngIf="isOrganizer">
		<label>Actions</label>
		<div class="actions">
			<button type="button" (click)="delete()">Delete</button>
			<button type="button" [routerLink]="reservationLink">Make reservation</button>
		</div>
	</ng-container>

	<ng-container *ngIf="(event.reservations?.length ?? 0) > 0">
		<label>Reservations</label>
		<ul>
			<li *ngFor="let reservation of event.reservations">
				<h2 class="flexing">
					<a [routerLink]="['/room', reservation.name]">{{ reservation.name }}</a>
				</h2>
				<div class="row-center" *ngIf="isOrganizer">
					<button (click)="cancelReservation(reservation)">Cancel</button>
				</div>
			</li>
		</ul>
	</ng-container>
</div>