/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "forms.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }

a {
	color: rgb(21, 10, 119);
	text-decoration: 1px dotted underline;

	&:hover {
		color: black;
	}
}

a, button {
	&:focus {
		outline: rgb(212, 50, 0) auto 1px;
		outline-offset: 0;
	}
}

::selection {
	background-color: rgb(21, 10, 119);
	color: white;
}